<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>128073365206-tjc6kau5613d9k9vp6762dupv3odmr31.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.128073365206-tjc6kau5613d9k9vp6762dupv3odmr31</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>128073365206-81rp5u2irsl1kiuc49j12kdtjiomor7e.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCtCvut4JUro98k0WA-d4EuBlNf6ZLPYYU</string>
	<key>GCM_SENDER_ID</key>
	<string>128073365206</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bdjobs.softnux</string>
	<key>PROJECT_ID</key>
	<string>softnux</string>
	<key>STORAGE_BUCKET</key>
	<string>softnux.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:128073365206:ios:a0a8f7010ecd86b9497b77</string>
</dict>
</plist>